@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

:root {
  /* Colors */

  /* Primary */

  --very-dark-blue-main-background: #090b1a;
  --dark-desaturated-blue-card-background: #1b1938;
  --soft-violet-accent: #aa5cdb;

  /* Neutral */

  --white-main-heading-stats: #ffffff;
  --slightly-transparent-white-main-paragraph: #ffffffbf;
  --slightly-transparent-white-stat-headings: #ffffff99;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  display: grid;
  grid-template-rows: 1fr auto;
  background: var(--very-dark-blue-main-background);
}

main {
  position: relative;
  width: min(95vw, 1110px);
  height: 446px;
  margin: auto;
  border-radius: 7px;
  background: var(--dark-desaturated-blue-card-background);
  display: flex;
  overflow: hidden;
}

.container {
  background-color: var(--soft-violet-accent);
}

.container > img {
  display: block;
  mix-blend-mode: multiply;
}

section {
  padding: 72px 72px 63px 72px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

section :is(h1, h2) {
  color: var(--white-main-heading-stats);
  font-weight: 700;
}

section > p {
  line-height: 1.5rem;
  padding-right: 50px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
  margin-bottom: 5px;
}

strong {
  color: var(--soft-violet-accent);
}

p {
  color: var(--slightly-transparent-white-stat-headings);
}

.data {
  display: flex;
  gap: 4.1rem;
  margin-top: auto;
}

.data :is(p) {
  font-family: "Lexend Deca", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 400;
}

footer {
  margin: auto;
  font-size: 12px;
  padding: 5px;
}

footer p {
  font-weight: 400;
}

footer a {
  color: var(--soft-violet-accent);
  font-weight: 700;
  text-decoration: none;
  transition: 200ms ease-in-out;
}

footer a:active {
  filter: brightness(150%);
}

@media (max-width: 1024px) {
  body {
    place-items: center;
  }
  main {
    width: min(95vw, 540px);
    height: auto;
    flex-direction: column-reverse;
    text-align: center;
    margin: 2rem auto;
  }

  .container > img {
    height: auto;
    content: url(./images/image-header-mobile.jpg);
  }

  section > p {
    padding-right: 0;
    padding: 0.5rem;
  }

  .data {
    justify-content: center;
  }
}

@media (max-width: 425px) {
  main {
    width: min(95vw, 327px);
    height: 779px;
  }

  .container > img {
    width: auto;
    height: 240px;
    object-position: center;
    flex-basis: auto;
  }

  h1 {
    font-size: 27px;
  }

  section {
    padding: 35px;
    gap: 1rem;
    flex: 1;
  }

  section > p {
    padding: 0;
  }

  .data {
    flex-direction: column;
    gap: 2rem;
  }
}

@media (max-width: 375px) {
  footer {
    white-space: nowrap;
    font-size: 10px;
  }
}
